{{>layouts/header}}


<link rel="stylesheet" href="css/login.css">

<div class="wrapper">


    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">로그인 해주세영 ><</h2>
        <img src="images/coffee.png" width="510" height="287" style="margin-bottom: 20px" >
        <input type="text" class="form-box" name="username" placeholder="아이디" required="" autofocus="" /> <br>
        <input type="password" class="form-box" name="password" placeholder="비밀번호" required=""/> <br>

        <button class="btn btn-lg btn-outline-secondary btn-block" type="submit" >로그인</button>
        <button class="btn btn-lg btn-outline-secondary btn-block"><a href="/oauth2/authorization/google" style="color: gray; text-decoration-line: none;">Google Login</a></button>
        <button class="btn btn-lg btn-outline-secondary btn-block"><a href="/oauth2/authorization/naver" style="color: gray; text-decoration-line: none;">Naver Login</a></button>
    </form>


</div>

<!--
Copyright (c) 2022 by Ace Subido (https://codepen.io/ace-subido/pen/nLgWyj)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->