{{#userName}}
{{>layouts/header}}
{{/userName}}

{{^userName}}
    {{>layouts/header}}
{{/userName}}

{{^userId}}
    <button class="btn btn-outline-danger  btn-lg m-5"><a href="signIn" style="color: black; text-decoration-line: none">로그인 후 이용해주세요</a></button>
{{/userId}}
{{#userId}}
{{#products}}
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 0 auto">
        <div class="col">
            <div class="card">
                <img src="images/coffee.png" class="card-img-top">
                <div class="card-body">
                    <input type="hidden" id="id" value="{{id}}">
                    <h5 class="card-title" id="name">{{name}}</h5>
                    <p class="card-text">{{price}} 원</p>

                    <button class="btn btn-outline-secondary" id="order-btn" productId="{{id}}"
                    userId="{{userId}}" total="{{price}}">주문하기</button>
                </div>
            </div>
        </div>
    </div>
{{/products}}
{{/userId}}




<script>
    const orderBtns = document.querySelectorAll("#order-btn");

    orderBtns.forEach(btn => {
        btn.addEventListener("click", (event) => {
            const orderBtn = event.srcElement;

           const order = {
               userId: orderBtn.getAttribute("userId"),
               productId: orderBtn.getAttribute("productId"),
               total: orderBtn.getAttribute("total")
           }

           console.log(order);

            const url = `/order/product`
            fetch(url, {
                method: "POST",
                body: JSON.stringify(order),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                const msg = (response.ok) ? "주문 완료" : "주문 실패";
                alert(msg);

            });

            // const orderProduct = {
            //     productId: orderBtn.getAttribute("productId"),
            //     price: orderBtn.getAttribute("total"),
            //     orderId: document.querySelector("#orderId")
            // };
            //
            // console.log(orderProduct);
            //
            // const url2 = `/api/orderproducts/ ${orderProduct.orderId} /${orderProduct.productId}`
            // fetch(url2, {
            //     method: "POST",
            //     body: JSON.stringify(orderProduct),
            //     headers: {
            //         "Content-Type": "application/json"
            //     }
            // });
        });
    });
</script>




